* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
}

header .header_list ul {
    display: flex;
    list-style-type: none;
}

header .header_list ul li {
    margin: auto 0;
    padding: 20px 0 20px 40px;
    font-weight: bold;
    font-size: 90%
}

header .header_list ul li a:hover {
    color: red;
}

header .header_list ul li a {
    text-decoration: none;
    color: black;

}

header .header_subList ul {
    display: flex;
    list-style-type: none;
}

header .header_subList ul li {
    margin: auto 0;
    padding: 20px 40px 20px 0;
}

header .header_subList ul li .line {
    border-left: 1px solid gainsboro;
    padding-left: 30px;
}

/* MAIN */
main {
    display: flex;
    background-color: gainsboro;
    height: 99%
}

main .left_img {
    width: 50%;
}

main .left_img img {
    width: 99%;
    border-right: 10px solid gainsboro;
}

main .right_img {
    width: 50%;
}

main .right_img img {
    width: 99%;
}

main img:hover {
    opacity: .9;
}

/* WHAT’S BREWING */

.BREWING .BREWING_top h2 {
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 50px;
    text-align: center;
}

.BREWING .BREWING_main {
    display: flex;
}

.BREWING .BREWING_main .item {
    margin-left: 10px;
}

.BREWING .BREWING_main .item:first-child {
    margin-left: 30px;
}

.BREWING .BREWING_main ul {
    width: 220px;
    list-style-type: none;
    border: 1px solid gainsboro;
    border-radius: 20px/20px;
}

.BREWING .BREWING_main ul img {
    width: 220px;
    border-radius: 20px 20px 0 0/ 20px 20px 0 0;
}

.BREWING .BREWING_main ul li {
    font-size: 80%;
    padding: 10px;
}

.BREWING .BREWING_main ul .day {
    font-size: 60%;
    text-align: right;
    margin-top: 30px;
    padding: 80px 10px 20px 0;
    margin-bottom: 10px;
}

.BREWING .BREWING_main ul a {
    text-decoration: none;
    color: black;
}

.BREWING .BREWING_bottom {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid gainsboro;
}

.BREWING .BREWING_bottom .item {
    width: 250px;
    margin: 40px 20px 70px 20px;
}

.BREWING .BREWING_bottom .item a {
    text-decoration: none;
    color: black;
    display: flex;
}

.BREWING .BREWING_bottom .item p {
    font-size: 80%;
    margin: auto 10px;
}

.BREWING .BREWING_bottom .item img {
    width: 100px;
    border-radius: 100px /100px;
}

/* ONLINE STORE */

.online .online_top h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
}

.online .online_top p {
    font-size: 80%;
    text-align: center;
    padding-top: 10px;
}

.online .category ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.online .category ul li {
    padding: 30px 10px 0 10px;
}

.online .category ul li a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-size: 80%;
}

.online .category ul li a:hover {
    border-bottom: 2px solid red;
    opacity: 1;
}

.online .content {
    display: flex;
    background-color: gainsboro;
}

.online .content .item {
    margin-left: 10px;
}

.online .content .item:first-child {
    margin-left: 30px;
}

.online .content ul {
    width: 150px;
    list-style-type: none;
    border: 1px solid gainsboro;
    border-radius: 20px/20px;
    background-color: white;
    margin: 40px 0 55px 0;
}

.online .content ul img {
    width: 150px;
    border-radius: 20px 20px 0 0/ 20px 20px 0 0;
}

.online .content ul li {
    font-size: 70%;
    padding: 10px;
}

.online .content ul .price {
    font-size: 80%;
    font-weight: bold;
    text-align: left;
    padding: 20px 0 0 10px;
}

.online .content ul a {
    text-decoration: none;
    color: black;
}

.online .content ul li input {
    padding: 5px 15px;
    border: 1px solid tomato;
    border-radius: 100px/100px;
    color: tomato;
    background-color: white;
    font-weight: bold;
}

/* stories */
.stories .stories_top h2 {
    text-align: center;
    padding-top: 70px;
}

.stories .stories_top h2 img {
    width: 150px;
}

.stories .stories_top p {
    text-align: right;
    padding-bottom: 50px;
}

.stories .stories_top p a:hover {
    opacity: .5;
}

.stories .stories_top p a {
    text-decoration: none;
    color: tomato;
    padding-right: 50px;
    font-size: 80%;
}

.stories .content {
    display: flex;
    padding-bottom: 70px;
    border-bottom: 5px solid gainsboro;
}

.stories .content .item {
    margin-left: 10px;
}

.stories .content .item:first-child {
    margin-left: 30px;
}

.stories .content ul {
    width: 220px;
    list-style-type: none;
    border: 1px solid gainsboro;
    border-radius: 20px/20px;
}

.stories .content ul img {
    width: 220px;
    border-radius: 20px 20px 0 0/ 20px 20px 0 0;
}

.stories .content ul li {
    font-size: 80%;
    padding: 10px;
}

.stories .content ul .day {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stories .content ul .day li {
    font-size: 30%;
}

.stories .content ul .day .info {
    font-size: .1rem;
    color: red;
    padding-right: 0;
    padding-bottom: 20px;
}


.stories .content ul a {
    text-decoration: none;
    color: black;
}

/* info */

.info {
    display: flex;
}

.info a {
    text-decoration: none;
    color: black;
}

.info h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 80px 0 60px 0;
}

.info .list {
    color: tomato;
    font-size: 80%;
}

.info .list:hover {
    opacity: .8;
}

.info p {
    text-align: right;
    padding-right: 40px;
}

.info .info_left,
.info .info_right {
    width: 99%;
    border-bottom: 5px solid gainsboro;
    padding-bottom: 60px;
}

.info .info_left {
    border-right: 5px solid gainsboro;
}

.info ul {
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
}

.info ul .content a {
    display: flex;
}

.info ul li {
    font-size: 80%;
    padding: 20px;
}

/* footer */


footer .footer_content{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid gainsboro;
}

footer h2{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 60px 0 20px 0;
}
footer a{
    text-decoration: none;
    color: black;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    font-size: 80%;
    padding-top: 20px ;
}
footer ul li:last-child{
    padding-bottom: 40px;
}

footer .footer_content .category{
    padding-right:50px ;
}

footer .footer_bottom{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
footer .footer_bottom p{
    font-size: 80%;
    padding: 30px 0;
}
footer .footer_bottom p:last-child{
    padding-top: 0;
    padding-bottom: 50px;
}

footer .footer_bottom .footer_right ul{
    display: flex;
    list-style-type: none;
}
footer .footer_bottom .footer_right ul li{
    padding-left: 15px; 
}